Repository edgehog-device-manager/edgehog, pull requests merged in 2024-07, with the labels that each got.

#548 Remove unused `device_fixture/2` function
  backend/test/support/fixtures/devices_fixtures.ex
Labels: chore, backend, ash-porting

#546 Handle device tags with the new mutations
  frontend/src/pages/Device.tsx
Labels: frontend, ash-porting

#549 Remove unused deps
  backend/.formatter.exs
  backend/lib/edgehog/error.ex
  backend/lib/edgehog_web/resolvers/base_images.ex
  backend/mix.exs
  backend/mix.lock
  backend/test/support/data_case.ex
Labels: chore, backend, ash-porting

#550 Prefer default `read` action over `list` and `get`
  backend/lib/edgehog/base_images/base_image/base_image.ex
  backend/lib/edgehog/base_images/base_image_collection.ex
  backend/lib/edgehog/base_images/base_images.ex
  backend/lib/edgehog/devices/device/device.ex
  backend/lib/edgehog/devices/devices.ex
  backend/lib/edgehog/devices/hardware_type.ex
  backend/lib/edgehog/devices/system_model/system_model.ex
  backend/lib/edgehog/groups/device_group/device_group.ex
  backend/lib/edgehog/groups/groups.ex
  backend/lib/edgehog/labeling/labeling.ex
  backend/lib/edgehog/labeling/tag.ex
Labels: chore, backend, ash-porting

#552 Rework Mox usage in tests
  backend/test/edgehog/astarte/interface_test.exs
  backend/test/edgehog/astarte/trigger_test.exs
  backend/test/edgehog/geolocation/providers/device_geolocation_test.exs
  backend/test/edgehog/geolocation/providers/google_geolocation_test.exs
  backend/test/edgehog/geolocation/providers/ipbase_test.exs
  backend/test/edgehog/tenants/reconciler/core_test.exs
  backend/test/edgehog/tenants/reconciler_test.exs
  backend/test/edgehog/tenants_test.exs
  backend/test/edgehog/update_campaigns/push_rollout/core_test.exs
  backend/test/edgehog/update_campaigns/push_rollout/executor_test.exs
  backend/test/edgehog/update_campaigns/resumer/core_test.exs
  backend/test/edgehog_web/admin_api/auth_test.exs
  backend/test/edgehog_web/admin_api/tenants/tenant_test.exs
  backend/test/edgehog_web/controllers/astarte_trigger_controller_test.exs
  backend/test/edgehog_web/schema/mutation/create_base_image_test.exs
  backend/test/edgehog_web/schema/mutation/delete_base_image_test.exs
  backend/test/edgehog_web/schema/mutation/request_forwarder_session_test.exs
  backend/test/edgehog_web/schema/query/base_image_collection_test.exs
  backend/test/edgehog_web/schema/query/base_image_test.exs
  backend/test/edgehog_web/schema/query/forwarder_session_test.exs
  backend/test/support/admin_api/conn_case.ex
  backend/test/support/assets_store_mock_case.ex
  backend/test/support/base_images_storage_mock_case.ex
  backend/test/support/conn_case.ex
  backend/test/support/ephemeral_image_mock_case.ex
  backend/test/support/fixtures/update_campaigns_fixtures.ex
  backend/test/support/mocks/assets/system_model_picture.ex
  backend/test/support/mocks/astarte/device/base_image.ex
  backend/test/support/mocks/astarte/device/battery_status.ex
  backend/test/support/mocks/astarte/device/cellular_connection.ex
  backend/test/support/mocks/astarte/device/device_status.ex
  backend/test/support/mocks/astarte/device/forwarder_session.ex
  backend/test/support/mocks/astarte/device/geolocation.ex
  backend/test/support/mocks/astarte/device/led_behavior.ex
  backend/test/support/mocks/astarte/device/network_interface.ex
  backend/test/support/mocks/astarte/device/os_info.ex
  backend/test/support/mocks/astarte/device/ota_request/v1.ex
  backend/test/support/mocks/astarte/device/runtime_info.ex
  backend/test/support/mocks/astarte/device/storage_usage.ex
  backend/test/support/mocks/astarte/device/system_status.ex
  backend/test/support/mocks/astarte/device/wifi_scan_result.ex
  backend/test/support/mocks/base_images/storage.ex
  backend/test/support/mocks/os_management/ephemeral_image.ex
  backend/test/support/mocks/tenants/reconciler.ex
  backend/test/support/reconciler_mock_case.ex
  backend/test/test_helper.exs
Labels: chore, backend, ash-porting

#553 Remove unused code and fix warnings
  .github/workflows/backend-test.yaml
  backend/lib/edgehog/astarte/device.ex
  backend/lib/edgehog/astarte/device/forwarder_session/behaviour.ex
  backend/lib/edgehog/base_images/storage.ex
  backend/lib/edgehog/devices/device/calculations/device_status.ex
  backend/lib/edgehog/devices/device/manual_actions/set_led_behavior.ex
  backend/lib/edgehog/devices/device/manual_relationships/system_model.ex
  backend/lib/edgehog/geolocation/geocoding_provider.ex
  backend/lib/edgehog/geolocation/geolocation_provider.ex
  backend/lib/edgehog/groups/device_group/device_group.ex
  backend/lib/edgehog/localization/calculations/localized_attributes.ex
  backend/lib/edgehog/multitenant_resource.ex
  backend/lib/edgehog/os_management/ota_operation/manual_actions/send_update_request.ex
  backend/lib/edgehog/tenants/reconciler.ex
  backend/lib/edgehog/tenants/reconciler/core.ex
  backend/lib/edgehog/update_campaigns/rollout_mechanism/push_rollout/core.ex
  backend/lib/edgehog/update_campaigns/update_channel/calculations/updatable_devices.ex
  backend/lib/edgehog_web/schema/astarte_types.ex
  backend/test/support/fixtures/devices_fixtures.ex
  backend/test/support/fixtures/update_campaigns_fixtures.ex
Labels: chore, backend, ash-porting

#554 Fix Credo warnings
  .github/workflows/backend-test.yaml
  backend/lib/edgehog/application.ex
  backend/lib/edgehog/astarte/realm/calculations/realm_management_client.ex
  backend/lib/edgehog/devices/device/calculations/appengine_client.ex
  backend/lib/edgehog/devices/system_model/system_model.ex
  backend/lib/edgehog/forwarder/session/manual_actions/request_session.ex
  backend/lib/edgehog/geolocation/providers/google_geolocation.ex
  backend/lib/edgehog/os_management/ota_operation/manual_actions/send_update_request.ex
  backend/lib/edgehog/selector/ast/binary_op.ex
  backend/lib/edgehog/tenants/reconciler.ex
  backend/lib/edgehog/tenants/tenant/tenant.ex
  backend/lib/edgehog/update_campaigns/update_channel/changes/relate_target_groups.ex
  backend/test/edgehog/config/jwt_public_key_pem_type_test.exs
  backend/test/edgehog/update_campaigns/push_rollout/executor_test.exs
  backend/test/edgehog/update_campaigns/resumer/core_test.exs
  backend/test/edgehog_web/schema/mutation/create_manual_ota_operation_test.exs
  backend/test/edgehog_web/schema/query/device_test.exs
  backend/test/edgehog_web/schema/query/forwarder_config_test.exs
  backend/test/support/admin_api/conn_case.ex
  backend/test/support/channel_case.ex
  backend/test/support/conn_case.ex
  backend/test/support/data_case.ex
  backend/test/support/graphql_case.ex
Labels: chore, backend, ash-porting

#555 Remove warnings printed by seeds.exs
  backend/priv/repo/seeds.exs
Labels: chore, backend

#559 Admin REST API documentation
  .github/workflows/docs-workflow.yaml
  backend/lib/edgehog_web/admin_api/admin_api.ex
  backend/lib/edgehog_web/admin_api/auth/auth.ex
  backend/lib/edgehog_web/admin_api/router.ex
  backend/lib/edgehog_web/router.ex
  backend/mix.exs
  backend/mix.lock
  doc/pages/integrating/interacting_with_edgehog.md
  doc/pages/user/intro_user.md
  doc/swagger-ui-index.html
Labels: documentation, backend

#566 Update frontend deps
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Navigation.tsx
  frontend/src/api/relay.ts
  frontend/src/components/HardwareTypesTable.test.tsx
  frontend/src/components/SystemModelsTable.test.tsx
  frontend/src/forms/UpdateSystemModel.tsx
  frontend/src/mocks/relay.ts
Labels: chore, frontend

#567 Fix: add padding in Sidebar since Bootstrap does not apply it
  frontend/src/components/Sidebar.tsx
Labels: frontend

#568 Chore: fix code wrongly formatted by Styler
  backend/config/dev.exs
  backend/config/prod.exs
  backend/config/test.exs
  backend/test/edgehog/update_campaigns/push_rollout/executor_test.exs
Labels: chore, backend

#577 Fix: OTA operation success event not being handled
  CHANGELOG.md
  backend/lib/edgehog/update_campaigns/rollout_mechanism/push_rollout/executor.ex
Labels: bug, backend

#578 Update deps
  backend/mix.lock
  backend/test/edgehog_web/schema/query/device_test.exs
Labels: chore, backend

#580 Chore: update dependencies for the doc project
  doc/mix.lock
Labels: documentation, chore
